# Default ignored files
/shelf/
/workspace.xml
/compiler.xml
/jarRepositories.xml
/misc.xml
/modules.xml
/uiDesigner.xml
/vcs.xml
databaseconnection/target
employee/target
exception/target
userinputs/target
validation/target

